/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 20 Jul 2024, 1:54:47 am
    Author     : chanm
*/

body{
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.menuBar{
    position:fixed;
    width: 100%;
}

/*search_bar*/

.top{
   height: 40px;
   background-image: url(background_green.jpg); 
  
}

form{
    padding: 3px;
    max-width: 450px;
    margin: auto;
    
}

.taskbar{
    
     width: 100%;
     margin-bottom: 10px;
     margin: auto;
      
}

.taskbar i{
    position: absolute;
    padding: 10px;
    min-width: 50px;
    text-align: center;
    
}

.inputfield{
    width: 85%;
    padding: 7px;
    text-align: center;
    border-radius: 20px;
}
    
   
.fa-question-circle-o{
    position: absolute;
    top:25px;
    right: 10px;
    transform: translateY(-50%);
    
}

/*top navigation bar*/

.circle-frame {
    width: 50px; 
    height:50px; 
    background-color:#A7E6DB;
    overflow: hidden;
    border-radius: 50%;
    flex: 0 0 auto;
    border: 2px solid gray; 
}

.circle-frame img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    border: 2px solid #175B3A;
    background-color: white;
    
}
.nav_items{
    
    justify-content: center;
    display: flex;
    align-items: center;    
}

.nav_items a{
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding: 0 20px;
}

/*when click*/

.change.active:before,
.change.active:after{
    
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #175B3A;
    top: 0;
    left: 0;
 }
 
 .change.active:before{
     top:auto;
     bottom: 0;
    
 }
 
 
 

.nav_items a{
    
    font-size: 12px;
    margin: 0 20px;
    text-decoration: none;
    color: #175B3A;
    
}

/*section*/

h1{
    font-size: 40px;
    letter-spacing: 5px;
    margin-bottom: 5px;
}



.section {
    padding:100px;
    text-align: center;
    color: #207115;
}

.container{
   
    padding: 180px 30px 100px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.image_1 img{
    float: left;
    width: 750px;
    height: 350px;
    
    
    /*3D shadow*/
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;

}

.image_1{
    padding-right: 30px;
}

.image_2 img{
   
    width: 700px;
    height:300px;
    
     /*3D shadow*/
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

.image_2{
    
    width: 50%;
    float: right;
   
    padding-left: 30px;
    
    text-align: right;
    box-sizing: border-box;
    /*
    flex:1;
    display: flex;
    justify-content: flex-end;
    */
}

.text{
   
    font-size: 20px; 
    box-sizing: border-box;
    float: left;
    padding: 20px;
}


.scroll{
    width: 500px;
    height: 200px;
    padding: 10px;
    overflow: scroll;
    border: 1px solid gray;
    scrollbar-color: green white;
 }
 
 